.vbox {
    -fx-background-color: #3D4956;
}

.label {
    -fx-text-fill: #f2efef;
}

.button {
    -fx-background-color: #eda678;
    -fx-border-radius: 5em;

}

.table-column {
    -fx-alignment: center;
}

.text-field {
    -fx-prompt-text-fill: #f2efef;
    -fx-text-fill: #f2efef;
    -jfx-unfocus-color: #eda678;
    -jfx-focus-color: #f2efef;
}

.myTree .tree-cell {
    -fx-background-color: lightsteelblue;
    -fx-text-fill: #000000;
}

.textFieldsDeLibro {
    -fx-prompt-text-fill: #f2efef;
    -fx-text-fill: #f2efef;
    -jfx-unfocus-color: #eda678;
    -jfx-focus-color: #f2efef;
}

.root {
    -fx-background-color: #3D4956;
}

.text-area {
    -fx-background-color: white;
}

.label-grande {
    -fx-text-fill: #f2efef;
    -fx-font-size: 20px;
}
.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #eda678;
}

.table-row-cell {

    -fx-background-color: white;
    /* -fx-border-color: #3D4956;*/
    -fx-table-cell-border-color: #3D4956;
    -fx-border-width: 0px;
}

.table-column {
    -fx-border-width: 0px;
}

.table-view .column-header {
    -fx-border-width: 5px;
}

.table-view .column-header-background .filler {
    -fx-background-color: #f2efef;
    -fx-text-fill: black;
}

.table-view .column-header .label {
    -fx-text-fill: #3D4956;
    -fx-font-weight: normal;
    -fx-padding: 10px;
    -fx-font-size: 12px;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */



